set gfxpayload=text
set timeout_style=hidden
set timeout=0

clear
echo "==========================================="
echo "        Press ESC to show boot menu        "
echo "==========================================="

if sleep --interruptible 5; then
    set timeout=1
else
    set timeout_style=menu
    set timeout=15
fi


menuentry "RozOS normal mode" {
    multiboot /boot/myos.bin
}

menuentry "RozOS No ACPI" {
    multiboot /boot/myos.bin no_acpi=1
}

menuentry "RozOS Info" {
    multiboot /boot/myos.bin info_boot=1
}
